<div>
    <a class="twitter-share-button"
       href="https://twitter.com/share"
       data-url="{{ .RelPermalink }}"
       data-via="{{with .Site.Params.twitter}}{{.}}{{end}}"
       data-text="{{with .Description}}{{ . | truncate 100 }}{{end}}"
       data-related="{{with .Site.Params.author.twitter}}{{.}}{{end}}"
       data-count="vertical">
	Tweet
    </a>
    <script>
     window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
    </script>
</div>
