
{{ define "main" }}
<p>
    {{.Kind}}
    </p>
<p>
    {{.Kind}}
    </p>
<p>
    {{.Kind}}
    </p>
<div class="container">
    <div class="row">
	<main aria-role="main">
	    <div class="homepage-content">
		{{.Content}}
	    </div>
	    <div>

		{{ range $section, $taxonomy := .Site.Sections.ByWeight }}

		{{ if not (eq $taxonomy.Params.show_in_home "false") }}
		<h4><a href="{{$taxonomy.Permalink}}">{{ $taxonomy.LinkTitle }}</a></h4>
		<ul>
		    {{ range $taxonomy.Pages }}
		    <li><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
		    {{ end }}
		</ul>
		{{ end }}
		<ul>
		    {{range $subsection, $subtaxonomy := $taxonomy.Sections}}
		    <li>
			<a href="{{$subtaxonomy.Permalink}}">{{$subtaxonomy.LinkTitle}}</a>
			<ol>
			    {{ range $subtaxonomy.Pages }}
			    <li><a href="{{.Permalink}}">{{.Params.title_index}}</a><span class="text-muted"> {{.LinkTitle}}</span></li>
			    {{ end }}
			</ol>
		    </li>
		    {{end}}
		</ul>
		{{end}}
	    </div>
	</main>
    </div>
</div>


{{- partial "footer.html" . -}}
{{ end }}

