{{ define "main" }}

<div class="container-fluid mt-3">
    <div class="row">
	<nav class="col-md-3 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky pb-4">
		{{ .TableOfContents }}
		{{ if .Site.Params.buymeacoffee }}
		<div>
		    <h6 class="sidebar-heading px-3 mt-4 mb-1 text-muted text-center">
			{{ i18n "helpful" }}
		    </h6>
		    <div class="d-flex align-items-center text-muted" >
			{{ partial "buymeacoffee.html" .}}
		    </div>
		</div>
		{{ end }}
		<div class="mt-3 pt-3">
		    <h6 class="sidebar-heading text-center text-muted">
			{{ i18n "share" }}
		    </h6>
		    {{ partial "share_buttons.html" . }}
		</div>
		<div class="mt-3 pt-3">
		    {{ partial "twitter_follow.html" . }}
		</div>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-9 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">{{.Title}}</h1>
            </div>

	    {{ with .Page.Resources.GetMatch "cover" }}
	    <figure class="figure">
		<img src="{{.RelPermalink}}" class="figure-img img-fluid rounded" alt="{{.Title}}">
		<figcaption class="figure-caption text-center"><small>{{ i18n "image" }} {{.Title}} {{ with .Params.license }}<small>({{ i18n "license" }} {{.}})</small>{{end}}</small></figcaption>
	    </figure>
	    {{ end }}

	    <div class="text-center">
		{{ with .Params.Subtitle }}
		<p class="text-muted">{{.}}</p>
		{{ end }}
		{{ if (or (not .PublishDate.IsZero) (not .Date.IsZero)) }}
		<div class="m-0">
		    <small class="text-muted">
			<i class="fas fa-clock"></i> {{ i18n "published" }}
			{{ if not .Date.IsZero }}
			<time datetime="{{ $.Date.Format "2006-01-02T15:04:05-07:00" }}">{{ $.Date.Format "2 Jan, 2006" }}</time>
			{{ else if (not .PublishDate.IsZero) }}
			<time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" }}">{{ .PublishDate.Format "January 2, 2006" }}</time>
			{{ end }}
			
			{{ if ne (.PublishDate.Format "2006-01-02") (.Lastmod.Format "2006-01-02") }}
			<div class="ml-2">
			    <i class="fas fa-edit"></i> {{ i18n "last-modified" }} <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}">{{ .Lastmod.Format "January 2, 2006" }}</time>
			</div>
			{{ end }}
		    </small>
		</div>
		{{ end }}
	    </div>

	    {{ partial "single/precontent.html" . }}
	    {{.Content}}
	    {{ partial "single/postcontent.html" . }}

	    {{ partial "author.html" . }}
	    <div class="comments">
		{{ template "_internal/disqus.html" . }}
	    </div>

	    {{ partial "prevnext_buttons" . }}

	    <div class="top-border p-3 mb-2 bg-light">
		{{ partial "sections-tree.html" . }}
	    </div>
	    
	    {{ partial "breadcrumb.html" . }}

	    <div class="mt-3">
		{{- partial "footer.html" . -}}
	    </div>
	    
        </main>
    </div>
</div>

{{/* Load mermaid js library only if there is a mermaid block like */}}
{{ if (in .RawContent "mermaid")}}
<div class="mermaid">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.0.0-rc.8/mermaid.min.js"></script>
</div>
{{ end }}

{{ end }}
