{{$author := .Site.Params.author}}

{{if (and .Site.Params.bio (and $author (not .Params.hide_author) ))}}
<footer class="author-footer">
    <div class="media">
	<span itemprop="locationCreated contentLocation spatialCoverage" itemscope="itemscope" itemtype="https://schema.org/City" style="display:none"><span itemprop="name">{{ $author.country }}</span>
	</span>
	<meta content="{{$author.website}}" property="article:author"/>
	<meta content="@{{$author.twitter}}" name="twitter:creator"/>
	<meta content="{{$author.name}}" name="author"/>
	
	<a class="media-left mx-2" href="{{$author.website}}" itemprop="url" rel="author">
	    <img class="media-object rounded" alt="{{$author.name}} - {{.Site.Title}}" itemprop="image" src="https://www.gravatar.com/avatar/{{$author.gravatar}}?s=80"/>
	</a>
	<div class="media-body">
	    <h5 class="media-heading">
		<address class="author-info clear" id="author-info" itemprop="author creator" itemscope="" itemtype="https://schema.org/Person">
		    {{with $author.name}}<span class="author-name" itemprop="name">{{.}}</span>{{end}}
		    {{with $author.twitter}}<a class="a-social a-tw" href="https://twitter.com/{{.}}" itemprop="sameAs" target="_blank"><i class="fab fa-twitter-square"></i></a>{{end}}
		    {{with $author.linkedin}}<a class="a-social a-ln" href="https://www.linkedin.com/in/{{.}}" itemprop="sameAs" target="_blank"><i class="fab fa-linkedin"></i></a>{{end}}
		    {{with $author.mail}}<a class="a-social a-email" href="mailto:{{.}}" itemprop="sameAs" target="_blank"><i class="fa fa-envelope-square"></i></a>{{end}}
		    {{with $author.github}}<a class="a-social a-github" href="https://github.com/{{.}}" itemprop="sameAs" target="_blank"><i class="fab fa-github-square"></i></a>{{end}}
		    {{with $author.gitlab}}<a class="a-social a-gitlab" href="https://gitlab.com/{{.}}" itemprop="sameAs" target="_blank"><i class="fab fa-gitlab"></i></a>{{end}}
		    {{with $author.stackexchange}}<a class="a-social a-stackexchange" href="https://stackexchange.com/users/{{.}}?tab=accounts" itemprop="sameAs" target="_blank"><i class="fab fa-stack-exchange"></i></a>{{end}}
		</address>
	    </h5>
	    <div class="text-muted">
		{{.Site.Params.bio}}
	    </div>
	</div>
    </div>
</footer>

{{end}}

