{{ $tree_depth := len (split .Path "/") }}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb border border-secondary" itemprop="breadcrumb">
	{{ template "breadcrumbnav" (dict "p1" . "p2" . "position" (add $tree_depth 1)) }}
  </ol>
</nav>

{{ define "breadcrumbnav" }}
{{ $position := sub .position 1 }}
{{ if .p1.Parent }}
{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 "position" $position )  }}
{{ else if not .p1.IsHome }}
{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 "position" $position )  }}
{{ end }}
<li class="breadcrumb-item {{ if eq .p1 .p2 }} active{{ end }}"
    {{ if eq .p1 .p2 }}aria-current="page"{{ end }}
    itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem">
    {{ if eq .p1 .p2 }}
	<span itemprop="name">{{ .p1.LinkTitle }}</span>
    {{ else }}
    <a href="{{ .p1.Permalink }}"
       itemprop="item">
	<span itemprop="name">{{ .p1.LinkTitle }}</span>
    </a>
    {{ end }}
    <meta itemprop="position" content="{{ .position }}" />
</li>
{{ end }}
