{{/* Count how deep we are in the tree structure by counting its slashes */}}
{{ $path_items := (split .Path "/") }}

{{/* If the last item in the path is an `index` in any form, then
the above item is the proper level, so we add a level to non index paths */}}
{{ $last_path_item := index $path_items (sub (len $path_items) 1 ) }}

{{if in $last_path_item "index" }}
{{ $tree_depth := (sub $tree_depth 1) }}
{{ .Scratch.Set "tree_depth" (len $path_items) }}
{{else}}
{{ .Scratch.Set "tree_depth" (add (len $path_items) 1 ) }}
{{end}}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb border border-secondary" itemprop="breadcrumb">
	{{ template "breadcrumbnav" (dict "p1" . "p2" . "position" (.Scratch.Get "tree_depth")) }}
  </ol>
</nav>

{{ define "breadcrumbnav" }}
{{ $position := sub .position 1 }}
{{ if .p1.Parent }}
{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 "position" $position )  }}
{{ else if not .p1.IsHome }}
{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 "position" $position )  }}
{{ end }}
<li class="breadcrumb-item {{ if eq .p1 .p2 }} active{{ end }}"
    {{ if eq .p1 .p2 }}aria-current="page"{{ end }}
    itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem">
    {{ if eq .p1 .p2 }}
	<span itemprop="name">{{ .p1.LinkTitle }}</span>
    {{ else }}
    <a href="{{ .p1.Permalink }}"
       itemprop="item">
	<span itemprop="name">{{ .p1.LinkTitle }}</span>
    </a>
    {{ end }}
    <meta itemprop="position" content="{{ .position }}" />
</li>
{{ end }}
