<footer class="container-fluid site-footer py-3">
    <div class="container">
	<p class="text-muted border-bottom">
	    {{ .Description | plainify }}
	</p>

	<div class="text-center justify-content-between align-items-center">
	    <h2 class="footer-heading text-muted">{{ .Site.Title }}</h2>
	    {{- with .Site.Params.description -}}
	    <div class="text-muted">{{.}}</div>
	    {{- end -}}
	    <ul class="footer-nav px-0">
		<li>
		    <i class="fa fa-keyboard-o" aria-hidden="true"></i>{{ i18n "made-by" }} <a href="{{.Site.Params.author.website}}" rel="author">{{.Site.Params.author.name}}</a>
		</li>
		{{- with .Site.Params.author.twitter -}}
		<li>
		    <i class="fab fa-twitter"></i> <a class="a-social a-tw" href="https://twitter.com/{{.}}" target="_blank"> @{{.}}</a>
		</li>
		{{ end }}

		{{ with .Site.Params.page_about_me_relurl }}
		<li>
		    <i class="fa fa-user" aria-hidden="true"></i> <a href="{{ . | absURL }}">{{ i18n "about" }}</a>
		</li>
		{{ end }}
	    </ul>

	    {{ partial "pageTranslations.html" . }}

	</div>
    </div>
</footer>
{{ partial "license.html" . }}

