<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

{{- with .Site.Params.google_verify_meta -}}
<meta name="google-site-verification" content="{{ . }}" />
{{ end }}

{{- with .Site.Params.bing_verify_meta -}}
<meta name="msvalidate.01" content="{{ . }}" />
{{ end }}

{{- with .Site.Params.yandex_verify_meta -}}
<meta name="yandex-verification" content="{{ . }}" />
{{ end }}

{{- if .Site.Params.google_adsense_id -}}
{{ partial "adsense_page_level_ads.html" . }}
{{ end }}

{{- with .Description -}}
<meta name="description" content="{{.}}">
{{ end }}

{{- with .Site.Params.author.name -}}
<meta name="author" content="{{.}}">
{{ end }}

{{ partial "favicons.html" . }}

<title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
<link rel="canonical" href="{{ .Permalink }}">

<!-- BS4+Fontawesome5 free+Custom Styles -->
{{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "themes/simpleit/node_modules")) }}
{{ $style := resources.Get "sass/main.scss" | toCSS $options | minify | fingerprint }}

<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

{{ template "_internal/google_analytics_async.html" . }}

{{ if .Site.Params.cookie_consent_info_url }}
{{ partial "cookie-consent.html" . }}
{{ end }}
