{{/* Show alternative page translations, fallback to site available languages */}}
{{ $numberOfLanguages := len $.Site.Home.AllTranslations }}
{{ if (or .IsTranslated (gt $numberOfLanguages 1)) }}
{{ $current := . }}
<div class="text-muted">
    {{ i18n "translations" }}
    
    {{ if .IsTranslated }}
    <strong>{{.Language.LanguageName}}</strong>
    {{ range .Translations }}
        <a hreflang="{{.Language}}" href="{{ .Permalink }}">{{.Language.LanguageName}}</a>
    {{ end}}
    {{ else }}
	{{ range $.Site.Home.AllTranslations }}
	{{ if eq .Language $current.Language }}
	<strong>{{.Language.LanguageName}}</strong>
	{{ else }}
	<a hreflang="{{.Language}}" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
	{{ end }}
    {{ end }}
    {{ end }}
</div>
{{ end }}
