<div class="site-share pb-2 text-center">
    {{ if (eq .Site.Params.shareButtonsType "static")}}
    {{ partial "share_static.html" . }}
    {{else}}
    {{ if .Site.IsServer }}
    <div class="bg-danger">share buttons placeholder</div>
    {{ else }}
    <ul class="share-buttons list-inline mb-1 text-center">
	<li class="list-inline-item align-top">
	    {{ partial "share_twitter_big.html" . }}
	</li>
	<li class="list-inline-item align-top">
	    {{ partial "share_facebook_big.html" . }}
	</li>
    </ul>
    {{ end }}
    {{ end }}
</div>
