<div>
    <a class="twitter-share-button"
       href="https://twitter.com/share"
       data-url="{{ .Permalink }}"
       data-via=""
       data-text="{{ .Description | truncate 100 }} by @{{.Site.Params.twitter}}"
       data-related="{{.Site.Params.twitter}},{{.Site.Params.author.twitter}}"
       data-count="vertical">
	Tweet
    </a>
    <script>
     window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
    </script>
</div>
