<nav class="col-md-3 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky pb-4">
	{{ .TableOfContents }}
	{{ if .Site.Params.buymeacoffee }}
	<div>
	    <h6 class="sidebar-heading px-3 mt-4 mb-1 text-muted text-center">
		{{ i18n "helpful" }}
	    </h6>
	    <div class="d-flex align-items-center text-muted" >
		{{ partial "buymeacoffee.html" .}}
	    </div>
	</div>
	{{ end }}
	<div class="mt-3 pt-3">
	    <h6 class="sidebar-heading text-center text-muted">
		{{ i18n "share" }}
	    </h6>
	    {{ partial "share_buttons.html" . }}
	</div>
	<div class="mt-3 pt-3">
	    {{ partial "twitter_follow.html" . }}
	</div>
    </div>
</nav>
